* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
    color: black;
}

.content-carrinho {
  flex: 1; /* Faz com que o conteúdo preencha o espaço restante */
  display: flex;
  flex-direction: column;
  width: 100vw;
  background-color: white;
}

.container {
  background-color: rgb(255, 255, 255);
  display: flex;
  flex-direction: row;
  height: 100vh;
  background-color: rgb(224, 224, 225);
  justify-content: space-between;
  width: 80vw;
  border-radius: 20px;
}
.carrinho{
    display: flex;
    flex-direction: row;
    height: 100vh;
    background-color: rgb(255, 255, 255);
    justify-content: space-between;
    width: 80vw;
    border-radius: 20px;
}

.Order_summary{
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-items: center;
    background-color: rgb(242, 242, 242);
    width: 50%; 
    border-radius: 20px;
}

.order{
    display: flex;
    margin-top: 10%;
    flex-direction: column;
    align-items: center;
    justify-items: center;
    width: 80%;
    color: rgb(65, 64, 64);
}

.order h2{
    font-size: 20pt;
    font-weight: bold;
    text-align: left;
    margin-bottom: 10px;
}

.subtotal, .shipping, .descounted, .total {
    display: flex;
    justify-content: space-between;
    flex-direction: row;
    width: 100%;
    font-size: 14pt;
    margin: 5px;
}

.descounted {
    border-bottom: 1px solid rgb(89, 87, 87);
    margin: 10px;
}



.container {
    margin-top: 100px;
    padding: 20px;
    width: 100vw;
    margin: 100px auto;
    border: 1px solid #ddd;
    border-radius: 8px;
    box-shadow: 0 4px 8px rgba(0, 0, 0, 0.1);
    background-color: #fff;
  }
  
.product{
  display: flex;
  width: 40vw;
}

  .productList {
    list-style: none;
    padding: 0;
  }
  
  .productItem {
    display: flex;
    justify-content: space-between;
    align-items: center;
    padding: 10px 0;

  }
  
  .productDetails {
    flex-grow: 1;
    display: flex;
    gap: 3px;
  }
  
  .productDetails_1  img{
    width: 150px;
   color: #fd8c03;
  }
  

  .buttons {
    display: flex;
    justify-content: space-evenly;
    color: black;
  }
  
  .button {
    background-color: #2386ef00;
    color: #207f92;
    cursor: pointer;
  
  }
  
  .removeButton, .addWishList {
    background-color: #dc354605;
    text-decoration: underline;
    color: rgb(5, 58, 58);
  }
  
 
  .total {
    font-weight: bold;
    margin-top: 20px;
    text-align: right;
  }
  
  .purchaseButton {
    margin-top: 20px;
    width: 90%;
    padding: 10px 16px;
    background-color: #000000;
    color: #fff;
    border: none;
    border-radius: 22px;
    cursor: pointer;
  }
  
  .modal {
    position: fixed;
    top: 0;
    left: 0;
    right: 0;
    bottom: 0;
    background-color: rgba(0, 0, 0, 0.5);
    display: flex;
    justify-content: center;
    align-items: center;
  }
  
  .modalContent {
    background-color: #fff;
    padding: 20px;
    border-radius: 8px;
    max-width: 400px;
    width: 100%;
  }
  