
* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
    color: black;
}

.content-favoritos {
  flex: 1; /* Faz com que o conteúdo preencha o espaço restante */
  display: flex;
  flex-direction: column;
  width: 80vw;
  background-color: rgb(244, 244, 244);
}

.containeree {
  flex-direction: row;
  height: 90vh;
display: flex;
  width: 80vw;
  border-radius: 20px;
  gap: 10px;

}

.containeree .producteeList {
    list-style: none;
    padding: 0;
  }


  .producteeList {
    width: 200px;
    height: 200px;
  }

  
  
  
  .producteeDetails {
    margin-top: 20px;
    flex-grow: 1;
    display: flex;
    gap: 10px;
  }
  
  .productDetails_1  img{
    width: 150px;
  }
  

  .buttons {
    display: flex;
    justify-content: space-evenly;
    color: black;
  }
  
  
  
  .removeeeButton{
    background-color: #e6071df0;
    color: rgb(255, 255, 255);
  }
  
 