* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}



@keyframes animacao {
  0% {
    width: 800px;
  }
  50% {
    width: 830px;
  }
  100% {
    width: 800px;
  }
}

html, body {
  height: 100%;
  display: flex;
  flex-direction: column; /* Permite que o conteúdo cresça na vertical */
  background-color: white;
}

.content {
  flex: 1; /* Faz com que o conteúdo preencha o espaço restante */
  display: flex;
  flex-direction: column;
  width: 100vw;
  background-color: white;
}

:root {
  --main--color: #fafafa;
  --main-light-color: #ff8b1f;
  --container-color: #ece9f3;
  --text-color: #1a1d22;
  --bg-color: #fff;
}


/*  Seccao 1*/
.Container {
  min-height: 80vh;
  background-color: rgb(255, 255, 255);
  display: flex;
  align-items: center;
  justify-content: space-between;
  background-image: url('../img/background_1.avif');
  background-position: 70%;
  background-size: cover;
}

.home-container {
  margin-left: 5%;
  text-align: justify;
}

.home-container h2 {
  color: rgb(55, 114, 48);
  margin: 3px;
  font-size: 45pt;
  letter-spacing: -0.05em;
  line-height: 80%;
  text-transform: uppercase;
  font-weight: 900;
}

.home-container p {
  margin: 5px;
  line-height: 1.5;
  color: rgb(7, 79, 37);
  font-size: 1.3rem;
}

.home-container #shop_now {
  margin: 5px;
  border-radius: 15px;
  width: 157px;
  padding: 10px;
  border-style: none;
  background-image: url('../img/arrow-right-solid.svg');
  background-repeat: no-repeat;
  background-position: calc(100% - 16px) center;
  background-size: 15px;
  background-color: #ffffff;
  color: rgb(8, 8, 8);
  font-weight: bold;
  cursor: pointer;
}

.home-container #shop_now:hover {
  width: 155px;
  transition: ease 0.5s;
}


/*   seccao 2 */
.Advantages-Container {
  display: flex;
  width: 800px;
  box-shadow: 1px 1px 1px black;
  margin: auto;
  align-items: center;
  border-radius: 30px;
  height: 10vh;
  justify-content: center;
  margin-bottom: 10px;
  background-color: white;
  animation: animacao 3s infinite;
  animation-fill-mode: forwards;
}

.Advantages-Container div {
  display: flex;
  align-items: center;
  justify-content: center;
}

.Advantages-Container div p {
  font-style: italic;
  color: rgb(135, 136, 137);
}

.Advantages-Container img {
  margin: 10px;
  width: 32px;
  height: 32px;
}





  /* SEÇÃO 3 */
  .Container_2 {
    display: flex;
    align-items: center;
    justify-content: space-between;
    height: 60vh;
    width: 90vw;
    justify-items: center;
    margin: auto;
    background-color: rgb(255, 255, 255);
  }
  
  .Container-content   {
    width: 500px;
    height: 300px;
    text-align: justify;
    text-align: left;

  }
  .Container-content button{
    color: white;
  }
 

  .promotion h1{
    font-size: 35pt;
    font-weight: 900;
    color: black;
    letter-spacing: 0.05em; 
  line-height: 90%;
  text-transform: uppercase; 
  }

  .promotion{
    text-align: left;
    display: flex;
    flex-direction: column;
    margin-bottom: 4px;
  }


  .Container-content p {
    font-style: italic;
    color: rgb(93, 94, 95);
    font-size: 15pt;
    line-height: 1.6;
  
  }
  .Container-content button {
  margin-top: 30px;
  border-radius: 20px;
    width: 180px;
    font-weight: 700;
    background-color: rgb(0, 0, 0);
  }
  
  .Container-promocional {
    display: flex;
    align-items: center;
    justify-content: space-evenly;
    width: 500px;
    height: 400px;
    border-radius: 30px;
    background-color: rgb(246, 244, 244);
    box-shadow: 1px 1px 1px rgb(235, 235, 235);
  }
  
  .Container-promocional div:nth-child(1) {
    margin-left: 16px;
    width: 200px;
    text-align: left;
    display: none;
  }
  
  .Container-promocional div:nth-child(2) img {
    width: 500px;
  }

  /* SHOP CONTENT */
  .shop-container {
    display: flex;
    align-items: center;
    justify-content: center;
    width: 1000px;
    margin: auto;
    gap: 1rem;
  }
  
  .shop-container .box {
    position: relative;
    padding: 10px;
    border-radius: 0.5rem;
    box-shadow: 1px 2px 4px rgba(15, 54, 55, 0.1);
    padding-bottom: 50px;
  }
  
  .shop-container .box img {
    width: 100%;
    height: 250px;
    object-fit: contain;
    border-radius: 0.5rem;
    background: #ece9f358;
  }
  
  .shop-container .box h2,
  .shop-container .box span {
    font-size: 1rem;
    margin-bottom: 0.5rem;
    color: #4a4b4b;
  }
  
  .shop-container .box button {
    position: absolute;
    bottom: 0.5rem;
    right: 1.6rem;
    padding: 13px;
    font-style: italic;
    border-radius: 1rem;
    background-color: #4a4b4b;
    color: #fff;
    border: none;
    width: 135px;
    font-size: 1rem;
    cursor: pointer;
  }
  
  .shop-container .box .bx {
    position: absolute;
    bottom: 1rem;
    right: 0.8rem;
    padding: 10px;
    font-size: 20px;
    background: var(--main--color);
    color: var(--bg-color);
    border-radius: 0.5rem;
  }
  
  .heading {
    text-align: center;
    margin-bottom: 2rem;
  }
  
  .heading span {
    border-bottom: 3px solid rgb(28, 195, 28);
  }


  
  /* SEÇÃO 4 */
  .Container-promo{
  display: flex;
  background-image: url('../img/template3.webp');
  display: flex;
    gap: 2rem;
    width: 1400px;
    margin: auto;

}

  .Container-extended {
    display: flex;
    gap: 2rem;
    width: 1100px;
    margin: auto;
    align-items: center;
    justify-content: space-between;
    margin-top: 30px;
  }
  
  .Container-extended div:nth-child(1),
  .Container-extended div:nth-child(2) {
    width: 700px;
    height: 60vh;
    background-repeat: no-repeat;
    background-size: cover;
    border-radius: 10px;
  }
  
  .Container-extended div:nth-child(1) {
    background-image: url('../img/template3.webp');
  }
  
  .Container-extended div:nth-child(2) {
    background-image: url('../img/teste8.png');
    background-color: red;
    opacity: 0.7;
    transition: opacity 0.5s ease-in;
  }
  
  .Container-extended div:nth-child(2):hover {
    opacity: 1;
  }
  
  .Container-extended div p {
    position: relative;
    top: 20rem;
    left: 3rem;
    font-size: 1.2rem;
    line-height: 1.5;
    font-style: italic;
    color: aliceblue;
    z-index: 1;
  }
  
  

  /*   Categories*/
  .Categories{
    display: flex;
    flex-direction: row;
    align-items: center;
    justify-items: center;
    justify-content: space-evenly;
    background: rgb(255, 255, 255);
    margin-top: 30px;
    margin-bottom: 300px;
    height: 270px;
  }

  .Categories .categor{
    width: 300px;
    height: 200px;
    border-radius: 10px;
    background-color: rgb(255, 255, 255);
  }

  .Categories .categor button{
    width: 70%;
    margin-top: 20px;
    color: white;
  }

  .producte{
    background-color: rgb(255, 255, 255);
  }
  .producte img{
    width: 100%;
    height: 100%;
  }


  .Detalhes{
    background-color: #ffffff;
    display: flex;
    flex-direction: column;
    height: 80px;
    width: 400px;
  }
   .btn_detalhes {
    margin-top: 5px;
    border-radius: 20px;
  }
  .btn_detalhes button{
    border-radius: 30px;
    font-weight: bolder;
    background-color: rgb(0, 0, 0);
    padding: 14px;
  }

  .Detalhes h1{
    color: black;
    font-size: 30pt;
    font-weight: 900;
    font: 30px 'Proxima nova, sans-serif' bolder;
    letter-spacing: 0.05em; 
    line-height: 90%;
    text-transform: uppercase; 
  }
  .Detalhes p{
    margin-top: 10px;
    font-size: 14pt;
    line-height: 1.2;
    color: black;
  }

  /*
  font-size: 60px;
  letter-spacing: 0.05em; 
  line-height: 90%;
  text-transform: uppercase; 
  font-weight: 800;
*/

