

.book-form {
    width: 100vw;
    border: 1px solid #ddd;
    border-radius: 8px;
    background-color: #f9f9f9;
    margin-top: 90px;
    display: flex;
  }

  .book-form div{
    width: 500px;
    margin: auto;
    
  }
  
  .book-form h2 {
    text-align: center;
    margin-bottom: 20px;
  }

  .intro{

  }
  
  .book-form input,
  .book-form textarea {
    width: 100%;
    padding: 10px;
    margin-bottom: 15px;
    border: 1px solid #ccc;
    border-radius: 4px;
    font-size: 16px;
    background-color: white;
  }
  
  .book-form button {
    width: 30%;
    padding: 30px;
    background-color: #007bff;
    color: #fff;
    border: none;
    border-radius: 4px;
    font-size: 16px;
    cursor: pointer;
  }
  
  .book-form button:hover {
    background-color: #0056b3;
  }
  
  .book-form select{
    padding: 10px;
    border-radius: 10px;
    margin: 10px;
    background-color: rgb(255, 255, 255);
  }